@page
@using MalgreTout.Models
@model AllKontaktpersonModel

<h2>Index</h2>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Person")
            </th>
            <th>
                @Html.DisplayName("TLF")
            </th>
            <th>
                @Html.DisplayName("Mail")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KontaktpersonList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TLF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    <a asp-page="./Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./AllKontaktperson" onclick="return confirm
                    ('Are you sure you want to delete this item?');"
                       asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>