@page "{searchString?}"
@using MalgreTout.Models
@model MalgreTout.Pages.View


@{
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Opret ny</a>
</p>

<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@*<form metod="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </div>
</form>*@

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary">Klik Mig</a>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Person")
            </th>
            <th>
                @Html.DisplayName("TLF")
            </th>
            <th>
                @Html.DisplayName("Mail")
            </th>

            <td>
                @Html.DisplayNameFor(Model => Model.Kontaktperson[0].Person)
            </td>


            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KontaktpersonList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tlf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>

            </tr>
        }
    </tbody>
</table>
<br />
<br />
<form method="post">
    <input type="submit" value="Export til Excel" asp-page-handler="Export" />
</form>

